{% extends "::base.html.twig" %}
{% block body %}
Permissions

{% set possible_permissions = ['OWNER', 'MASTER', 'OPERATOR', 'UNDELETE', 'DELETE', 'CREATE', 'EDIT', 'VIEW'] %}

{% for member in members %}
	{% for entity in entites %} {# if member is_granted('MASTER,OWNER', entity_class) #}
		{# will need to do something here to make sure they aren't giving more permissions than they have #}
		{% for permission in possible_permissions %}
			{# if permission == 'owner' and member is_granted('OWNER', entity_class #}
			{{- tags.div(
				tags.labelledInput(
					'checkbox',
					'permission['~member.id~']['~permission~']',
					permission,
					permission|title)) -}}
		{% endfor %}
	{% endfor %}
{% endfor %}
{% endblock %}