{% extends "PoleisCoreBundle:School:form_new_edit.html.twig" %}

{% set school = schoolForm.vars.value %}

{% block title %}Edit {{school.name}}{% endblock %} {# should have the school's name #}

{% block form_header %}
	<h1>Edit {{school.name}}</h1> {#same as title#}
{% endblock %}
