{% extends "::base.html.twig" %}

{% block body %}
	{{ block('form_header') }} {#same as title#}

	{% include '::errors.html.twig' %}

	{{ form_start(schoolForm) }}
	    {{ form_row(schoolForm.name) }}
		{{ form_row(schoolForm.webpage) }}
		{%- for collection in [schoolForm.nicknames, schoolForm.emailSuffixes] -%}
			<div class="form_section">
				{% set section_name = collection.vars.label|default(collection.vars.name) %}
				{% set attr_name = collection.vars.prototype.children|keys[0] %}
				{% set var_name = collection.vars.full_name %}
				{% set id = collection.vars.id %}
				<div>
					<span class="header" style="{text-transform: captalize}">
						{{- section_name|title -}}
					</span>
					{% if collection is empty %}
						{{ tags.input('text', var_name, '', {id: id~'_field'}) }}
					{% else %}
						<ul id="{{ id }}_field" class="collection field">
						{% for element in collection if element.vars.value is not empty %}
							{{ tags.li(attribute(element.vars.value, attr_name), {class: 'list_item'}) }}
						{% endfor -%}
						</ul>
					{% endif %}
					<ul id="{{ id }}_list" class="collection list"></ul>
				</div>
			</div>
			{% do collection.setRendered %}

			<script type="text/javascript">
				$(function() {
					$('#{{- id ~ '_field' -}}').tagit({
						allowSpaces: true,
						allowDuplicates: false,
						singleField: false,
						removeConfirmation: true,
						afterTagAdded: function(event, ui) {
							 $('#{{- id -}}_list').append(
									  '{{- tags.li(
									  		tags.input(
									  			'hidden',
									  			var_name ~ '[][' ~ attr_name ~ ']',
									  			"' + ui.tagLabel + '"),
									  		{
												class: 'list_item',
												id: id ~ "_' + $.idify(ui.tagLabel) +'"
											}
										) -}}'
									);
						},
						afterTagRemoved: function(event, ui) {
							$('#{{- id -}}_' + $.idify(ui.tagLabel)).remove();
						}
					});
				});
			</script>

			{%- endfor -%}
	{{ form_end(schoolForm) }}
	</div>
{% endblock %}
