{% extends "::base.html.twig" %}

{% block title %}Viewing All Schools{% endblock %}

{% block body %}
		{% for community in app.user.communities if community.isSchool() %}
			{{ tags.a(path('school_show', { id: community.id }), "Go to "~community.name) }}
		{% endfor %}
		<table>
		{% for school in schools if school.active %}
			<tr>
				<td>{{ school.name }}</td>
				<td>{% if is_granted('EDIT', school) -%}
						{{- tags.a(path('school_edit', {'id': school.id}), "Edit") }}{% endif %}</td>
				<td>{{ tags.a(path('school_show', {'id': school.id}), "View") }}</td>
				<td>{% if school.webpage is not empty %}{{ tags.a(school.webpage, "Homepage") }}{% endif %}</td>
			</tr>
		{% endfor %}
		</table><br>
		{% if is_granted('ROLE_SUPER_ADMIN') -%}<a href="{{- path('school_new') -}}">New School</a>{%- endif %}
		
{% endblock %}	