{% extends "::base.html.twig" %}
{% block title %}{{ school.name }}{% endblock %}

{% block body %}
	{# This link should be enclosed in a security check #}
	<a href="{{ path('school') }}">Back to All Schools</a>
	<br>
	<h1>{{ school.name }}</h1>
	{% if school.webpage is not empty %}<a href="{{ school.webpage }}">Homepage</a>{% endif %}
{% endblock %}

	