body {
	background-color: #DEFFFF;
	margin: 10px;
	border-radius: 15px;
}
a {
	text-decoration: none;
	font-weight: bold;
	font-variant: small-caps;
	color: #669966;
}
a:hover {
	font-weight: normal;
	color: #114411;
}
#body_container {
	display:block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	padding: 15px;
	background-color: #dedede;
	border-radius: 15px;
	/*position: absolute;*/
}
#mainnav {
	display: block;
	background-color: blue;
	width: 100%;
	height: 40px;
}
#error {
	/*position: relative;*/
	z-index: 5000;
	background-color: #FFAAAA;
	border: 2px solid red;
	padding: 10px;
	margin: 5px;
	border-radius: 3px;
	float: left;
	display: block;
}
#loginout {
	display: block;
	float:right;
	margin-top: auto;
	margin-bottom: auto;
}