{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Login to Poleis</h1>

<form action="{{ path('auth_verify') }}" method="post">
	{{- tags.input('hidden', "_target_path","recruitment") -}}
	{{ tags.labelledInput('text', '_username', lastEmail,'Email',true,{}, {id:'username'}) }}
<br>
	{{ tags.labelledInput('password', '_password', '','Password',true,{}, {id:'password'}) }}
<br>	
	{{ tags.input("submit","login","Login") }}
</form>

{{ tags.a(path('register'),"Register") }}

{% endblock %}
