{% import '::tags_macros.html.twig' as tags %}

<!DOCTYPE html>
<html>{% spaceless %}
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}
        {% if block('title') is not empty %} | {% endif %}Poleis
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@PoleisCoreBundle/Resources/public/third_party/css/*.css' output='css/third_party.css' %}
	        <link rel="stylesheet" type="text/css" href="{{ asset('css/third_party.css') }}" />
        {% endstylesheets %}
        {% include "::third_party_css.html.twig" %} {# CSS from CDNs #}
		{% stylesheets '@PoleisCoreBundle/Resources/public/css/*.css' output='css/core.css' filter='cssrewrite' %}
	        <link rel="stylesheet" type="text/css" href="{{ asset('css/core.css') }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        {% include "::third_party_js.html.twig" %} {# JS from CDNs #}
        {% javascripts '@PoleisCoreBundle/Resources/public/js/*.js' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@PoleisCoreBundle/Resources/public/third_party/js/*.js' %}
        	<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
    	{% if block('javascripts_start') is not empty %}<script type="text/javascript">{% endif %}
        {% block javascripts_start %}{% endblock %}
		{% if block('javascripts_start') is not empty %}</script>{% endif %}
    	<header id='mainnav'>
    		{% block header %}{% endblock %}
	    	{% include "::login_logout.html.twig" %}
		</header>
		<div id="body_container">
			{% include "::errors.html.twig" %}
			{% block body %}{% endblock %}
        </div>
        <footer id="footer">
        	{% block footer %}{% endblock %}
        </footer>
		{% if block('javascripts_end') is not empty %}<script type="text/javascript">{% endif %}
        {% block javascripts_end %}{% endblock %}
		{% if block('javascripts_end') is not empty %}</script>{% endif %}
	</body>{% endspaceless %}
</html>
