{% import _self as this -%}
{% if errors is defined and errors is not empty %}
	<div id="error">
		{% for error in errors %}
			{{ this.error(error) }}
		{% endfor %}
	</div>
{% elseif error is defined and error is not empty %}
	<div id="error">
		{{ this.error(error) }}
	</div>
{% endif %}

{% macro error(error) -%}
	{%- spaceless %}
	{% if error.message is defined and error.message is not empty %}
		{{- error.message }}<br>
	{% elseif error is defined and error is not empty %}
		{{- error }}<br>
	{% endif %}
	{% endspaceless -%}
{%- endmacro %}