<div id='loginout'>
	{% if not is_granted("IS_AUTHENTICATED_FULLY") %}
		{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
        		    {{ facebook_login_button({'autologoutlink': true}) }}
		<script>
		  function goLogIn(){
		      window.location.href = "{{ path('auth_verify') }}";
		  }
		
		  function onFbInit() {
		      if (typeof(FB) != 'undefined' && FB != null ) {
		          FB.Event.subscribe('auth.statusChange', function(response) {
		              if (response.session || response.authResponse) {
		                  setTimeout(goLogIn, 500);
		              } else {
		                  window.location.href = "{{ path('logout') }}";
		              }
		          });
		      }
		  }
		</script>
	{% else %}
		<a href="{{ path("logout") }}" id='logout_button'>Logout</a>
	{% endif %}
</div>