{% macro a(href, content, attributes) %}{% import _self as this -%}
	{% spaceless %}
		{% if href[:1] != '/' and (href[:7] != 'http://' or href[:8] != 'https://') %}
			{% set href = 'http://'~href %}
		{% endif %}
		<a href="{{ href|default('#') }}" {{ this.attributes(attributes) -}}>{{- content -}}</a>
	{% endspaceless %}
{%- endmacro %}

{% macro li(content, attributes) %}{% import _self as this -%}
	{% spaceless %}
		<li {{ this.attributes(attributes) -}}>{{- content -}}</li>
	{% endspaceless %}
{% endmacro %}

{# Block Level Elements #}
{% macro div(content, attributes) %}{% import _self as this -%}
	<div {{ this.attributes(attributes) -}}>{{- content -}}</div>
{%- endmacro %}

{# Form Elements #}
{% macro input(type, name, value, attributes) %}{% import _self as this -%}
	{% spaceless %}
		{%- if type|lower is sameas("textarea") -%}
		<textarea name="{{ name }}" {{ this.attributes(attributes) -}}>{{- value -}}</textarea>
		{%- else -%}
		<input type="{{ type|default('hidden') }}" name="{{- name -}}" value="{{- value|raw -}}" {{ this.attributes(attributes) -}}/>
		{%- endif -%}
	{% endspaceless %}
{%- endmacro %}

{% macro labelledInput(type, name, value, label, labelBefore, labelAttributes, inputAttributes) %}{% import _self as this -%}
		<label {{ this.attributes(labelAttributes) }}>{% if labelBefore is defined and labelBefore %}{{- label -}}:{% endif %}
		{{ this.input(type, name, value, inputAttributes) }}
		{% if labelBefore is not defined or not labelBefore %}{{- label -}}:{% endif %}
		</label>
{% endmacro %}

{% macro select(name, collection, attributes) %} {% import _self as this %}
	{% spaceless %}
		<select name="{{ name }}" {{ this.attributes(attributes) -}}>
		{% for n,val in collection %}
			{{ this.option(n, val) }}
		{% endfor %}
		</select>
	{% endspaceless %}
{% endmacro %}

{% macro option(name, opttext, attributes) %} {% import _self as this %}
	{% spaceless %} {# should make this smarter, eg group detection/variable attributes #}
	<option name="{{ name }}">{{ opttext is empty ? name : opttext }}</option>
	{% endspaceless %}
{% endmacro %}

{% macro attributes(a) %}{% import _self as this -%}
	{%- if a is not empty -%}
		{%- for attr,v in a if attr is not empty -%}
			{{- this.attribute(attr, v) -}}
		{%- endfor -%}
	{%- endif -%}
{%- endmacro %}

{% macro attribute(a, v) -%}
	{%- if v|lower is sameas('true') -%}
		{{- a -}}="{{- a -}}" 
	{%- elseif a|lower is sameas('onclick') -%}
		onclick="javascript:{{- v|raw -}}" 
	{%- else -%}
		{{- a -}}="{{- v|raw -}}" 
	{%- endif -%}
{%- endmacro %}
