{# Add/Update Third Party CSS CDNs here #}
{% set stylesheets = [
	"//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"
] %}

{% for stylesheet in stylesheets %}
	<link href="{{ stylesheet }}" rel="stylesheet" type="text/css" />
{% endfor %}
