{# Add/Update Third Party JS CDNs here #}
{% set scripts = [
	"//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js",
	"//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
] %}

{% for script in scripts %}
	<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
