{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Organization list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Webpage</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Email</th>
                <th>Createddate</th>
                <th>Updateddate</th>
                <th>Id</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('organization_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.webpage }}</td>
                <td>{{ entity.facebook }}</td>
                <td>{{ entity.twitter }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('organization_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('organization_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('organization_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
