{% extends "::base.html.twig" %}

{% block title %}Register for Recruitment{% endblock %}

{% block body %}
<div id="recruitment_registration_status">
	{% if status == NO_COMMUNITY %}
	Please select a school. (Put selection dialog here)
	{% elseif status == CAN_REGISTER %}
	<a href="{{ path('recruitment_register') }}">Sign me up for recruitment at {{ app.user.community.name }}!</a>
	{% elseif status == ALREADY_REGISTERED %}
	You're already registered for recruitment at {{ app.user.community.name }}.
	{% else %}
	Nice try, you're already a member :P
	{% endif %}
</div>
{% endblock %}
 